# Git
.git
.gitignore
.gitattributes

# CI/CD
.github

# Documentation
README.md
*.md

# Dependencies
node_modules

# Development files
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
