# Git
.git
.gitignore
.gitattributes

# CI/CD
.github

# Documentation
README.md
*.md

# Build files
target/
.mvn/

# Development files
.vscode
.idea
*.iml

# OS files
.DS_Store
Thumbs.db

# Test files
src/test/
